<section class="page-header">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="<%= root_path %>">Home</a></li>
        <li class="active">Sign Up</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Sign Up</h1>
    </div>
  </div>
</div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="featured-boxes">
        <div class="row">
          <div class="col-sm-6">
            <div class="featured-box featured-box-primary align-left mt-xlg">
              <div class="box-content">
                <h4 class="heading-primary text-uppercase mb-md">Register an Account</h4>
                <%= form_for(@user, url: signup_path, id: "frmSignUp") do |f| %>
                  <% unless f.object.errors.empty? %>
                    <h2>Errors</h2>
                    <ul>
                      <% f.object.errors.full_messages.each do |error| %>
                        <li><%= error %></li>
                      <% end %>
                    </ul>
                  <% end %>
                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-12">
                        <h4><%= f.label :email, "Email Address" %></h4>
                        <%= f.text_field :email, class: "form-control input-lg" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-12">
                        <h4><%= f.label :password, "Password" %></h4>
                        <%= f.password_field :password, class: "form-control input-lg" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-12">
                        <h4><%= f.label :password_confirmation, "Confirm Password" %></h4>
                        <%= f.password_field :password_confirmation, class: "form-control input-lg" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-12">
                        <h4><%= f.label :address, "Home Address" %></h4>
                        <%= f.text_field :address, class: "form-control input-lg" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                      <%= f.submit "Register", class: "btn btn-primary pull-right mn-xl" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
