<section class="page-header">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li><a href="<%= root_path %>">Home</a></li>
        <li class="active">Sign Up</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Sign Up</h1>
    </div>
  </div>
</div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="featured-boxes">
        <div class="row">
          <div class="col-sm-6">
            <div class="featured-box featured-box-primary align-left mt-xlg">
              <div class="box-content">
                <h4 class="heading-primary text-uppercase mb-md">Register an Account</h4>
                <%= form_tag id: "frmSignUp" do %>
                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-12">
                        <h4><%= label_tag :email, "Email Address" %></h4>
                        <%= email_field_tag :email, nil, class: "form-control input-lg" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-12">
                        <h4><%= label_tag :password, "Password" %></h4>
                        <%= password_field_tag :password, nil, class: "form-control input-lg" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-12">
                        <h4><%= label_tag :password_confirmation, "Confirm Password" %></h4>
                        <%= password_field_tag :password_confirmation, nil, class: "form-control input-lg" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-12">
                        <h4><%= label_tag :address, "Home Address" %></h4>
                        <%= text_field_tag :address, nil, class: "form-control input-lg" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                      <%= submit_tag "Register", class: "btn btn-primary pull-right mn-xl" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
