<h1>Bill Tracker Dashboard</h1>
<p>Welcome to the bill tracker.</p>
<ul>
  <% @user.bills.each do |bill| %>
    <li><%= bill.name %>
    <li>most recent action:</li>
    <ul>
      <li><%= bill.description[-4] %></li>
      <li><%= bill.description[-2] %></li>
    </ul>
    <%= button_to "Unsubscribe", { action: "delete", id: bill.id },
                                                       method: :delete, data: { confirm: "Are you sure?" } %></li>
    <br>
  <% end %>
</ul>

<%= form_for(@bill, url: subscribe_path) do |f| %>
  <% unless f.object.errors.empty? %>
    <h2>Errors</h2>
    <ul>
      <% f.object.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <p>To subscribe to a bill, please enter it in the following format:</p>
  <ul>
    <li>HB for House Bill, SB for Senate Bill, HJR for House Joint Resolution, etc.</li>
    <li>Followed by the Bill's number.</li>
    <li>So, House Bill 1001 would be HB1001</li>
  </ul>
  <dl>
    <dt><%= f.label      :name %></dt>
    <dd><%= f.text_field :name %></dt>
  </dl>

  <%= f.submit "Subscribe" %>
<% end %>
